<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width,initial-scale=1' name='viewport'>
    <meta content='description' name='description'>
    <meta content='notranslate' name='google'/>
    <meta content='Mashup templates have been developed by Orson.io team' name='author'>
    <!-- Disable tap highlight on IE -->
    <meta content='no' name='msapplication-tap-highlight'>
    <link href='./../static/assets/apple-icon-180x180.png' rel='apple-touch-icon' sizes='180x180'>
    <link href='./../static/assets/favicon.ico' rel='icon'>
    <title>Home</title>
    <link href='./../static/main.3f6952e4.css' rel='stylesheet'>
</head>
<body class='minimal'>
<div id='site-border-left'></div>
<div id='site-border-right'></div>
<div id='site-border-top'></div>
<div id='site-border-bottom'></div>
<!-- Add your content of header -->
<header>
    <nav class='navbar navbar-fixed-top navbar-inverse'>
        <div class='container'>
            <button aria-expanded='false' class='navbar-toggle collapsed' data-target='#navbar-collapse'
                    data-toggle='collapse' type='button'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <div class='collapse navbar-collapse' id='navbar-collapse'>
                <ul class='nav navbar-nav'>
                    <li><a href='./index.html' title=''>01 : Home</a></li>
                    <li><a href='./works.html' title=''>02 : Works</a></li>
                    <li><a href='./about.html' title=''>03 : About Me</a></li>
                    <li><a href='./contact.html' title=''>04 : Contact Me</a></li>
<!--                    <li><a href='./components.html' title=''>05 : Components</a></li>-->
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- Add your site or app content here -->
<div class='hero-full-container background-image-container white-text-container'
     style='background-image: url("./../static/assets/images/space.jpg")'>
    <div class='container'>
        <div class='row'>
            <div class='col-xs-12'>
                <div class='hero-full-wrapper'>
                    <div class='text-content'>
                        <h1>Hello,<br>
                            <span id='typed-strings'>
                                <span>I am Tharinda Rajapaksha!</span>
                                <span>I am a Software Engineer...</span>
                                <span>I am looking for a job!</span>
                            </span>
                            <span id='typed'></span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        type()
        movingBackgroundImage()
    })
</script>
<script src='./../static/main.70a66962.js' type='text/javascript'></script>
</body>
</html>
